<main id="blog">
    <div class="contenedor">
        <div class="contenido">
            <br><br>

            <div class="post" >
                <h1 class="titulo">{{apiId.titulo}}</h1>
                <p class="fecha">Publicado el {{apiId.createAt | date}}</p>
                <p>
                    {{apiId.msjNota}}
                </p>
            </div>
            

            <br><br>
            <h2>Comentarios</h2>
            <hr><br>

        <div *ngFor="let comentarios of apiId.comentarios">
            <p class="comentario" >
                {{comentarios.msjComentario}}
            </p>
            <!-- <button class="btnRespuesta btnEstandar">Responder</button> -->




                    
                    <div>
                        <form *ngIf="usu.hasRole('ROLE_USER')" class="form1" autocomplete="off" [formGroup]="formularioRespuesta" (ngSubmit)="guardarRespuesta(comentarios.id)">
                            <br>
                            <textarea type="text" formControlName="msjRespuesta" class="textareaRespuesta"></textarea>
                            <button type="submit" class="left btnEstandar">Enviar Respuesta</button>
                        </form>
                        
                        <br>
                        
                        <div class="respuesta" *ngFor="let respuestas of comentarios.respuestas">
                            <p class="parrafo">
                                {{respuestas.msjRespuesta}}
                            </p>
                        </div>
                    </div>
                    
            <hr><br>
        </div>            

            <form *ngIf="usu.hasRole('ROLE_USER')" class="form" autocomplete="off" [formGroup]="miFormulario" (ngSubmit)="guardar()">
                <textarea type="text" formControlName="msjComentario" class="textarea"></textarea>
                <button type="submit" class="btnRespuesta2 btnEstandar">Enviar Comentario</button>
            </form>

        </div>
    </div>
</main>
