.container {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.titulo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.titulo h3 {
    color: #3f51b5;
}

.titulo img {
    margin: auto;
}

.formulario {
    width: 1200px;
    height: 610px;
    padding: 20px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 5px 10px #3f51b5;
}

.inputs {
    display: flex;
    flex-direction: column;
}

.msjNota{
    height: 300px;
}
.inputs textarea, .boton button {
    width: 100%;
    padding: 8px 10px;
    border-radius: 10px;
    border: none;
    outline: none;
    font-size: 1.3rem;
    background-color: #f3f3f3;
    resize: none;
}

.inputs textarea {
    font-size: 13px;
    color: rgba(0, 0, 0, 0.815);
}

.inputs textarea:focus {
    border: 2px solid #3f51b5;
}

.inputs {
    margin: 13px 0;
}

.boton button{
    cursor: pointer;
    margin-top: 10px;
    background-color: #3f51b5;
    color: #fff;
}

